*{
    margin: 0; padding: 0; box-sizing: border-box;
}
.cardsContainer{
    margin: 0 auto;
 
}

.card-container{
    width: 200px;
    padding: 0.3em;
}

.img-card{
    /* object-fit: fill; */
    object-fit: scale-down;
    height: 150px;
}